    <p>{{note.id}}</p>
    <h1>{{note.title}}</h1>
    <h2>{{note.author}}</h2>
    <p>{{note.note}}</p>
    <p>{{note.priority}}</p>
    <p>{{note.type}}</p>

    <a href="/notes/update/{{note.id}}">Update</a>
    <a href="/notes/delete/{{note.id}}">Delete</a>